.git
node_modules
dist
frontend/node_modules
npm-debug.log
Dockerfile.frontend
Dockerfile.agent
docker-compose.yml
backend/bin
backend/obj
NetworkAgent/obj
!NetworkAgent/bin/Release/net9.0/publish
agent/node_modules
