version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5050:5000"
    environment:
      - ASPNETCORE_URLS=http://+:5000
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=monitoring;Username=spkz14;Password=123456za
    depends_on:
      - db

  agent:
    build:
      context: .
      dockerfile: Dockerfile.agent
    depends_on:
      - backend
    restart: unless-stopped
    # ไม่ต้องระบุ command ให้ target ตอน start
    entrypoint: ["dotnet", "NetworkAgent.dll"]

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: spkz14
      POSTGRES_PASSWORD: 123456za
      POSTGRES_DB: monitoring
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
